<!DOCTYPE html>
<html>
<head>
    <title>Data Visualization</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Data Visualization</h1>
        <div id="sentiment_plot"></div>
        <h2>Most Active Poster: {{ most_active_poster }}</h2>
        <h3>Most Active Post:</h3>
        <p>Title: {{ most_active_post.title }}</p>
        <p>URL: <a href="{{ most_active_post.url }}">{{ most_active_post.url }}</a></p>
        <p>Sentiment: {{ most_active_post.sentiment }}</p>
        <h3>Top 5 Posters:</h3>
        <ul>
            {% for poster, post_count in top_posters %}
                <li>{{ poster }} - {{ post_count }} posts</li>
            {% endfor %}
        </ul>
        
        <!-- Add Daily Posting Activity Chart -->
        <h3>Daily Posting Activity</h3>
        <div id="daily_chart">
            {{ fig_daily|safe }}
        </div>

        <!-- Add Hourly Posting Activity Chart -->
        <h3>Hourly Posting Activity</h3>
        <div id="hourly_chart">
            {{ fig_hourly|safe }}
        </div>

        <!-- Add Heatmap Visualization -->
        <h3>Post Frequency Heatmap</h3>
        <div id="heatmap_chart">
            {{ fig_heatmap|safe }}
        </div>

        <!-- Word Cloud -->
        <h3>Word Cloud</h3>
        <div id="wordcloud">
            <img src="\static\wordcloud.png" alt="Word Cloud">
        </div>
    </div>

    <script>
        // Display the Plotly plot for sentiment distribution
        document.getElementById('sentiment_plot').innerHTML = '{{ plot_html|safe }}';
    </script>
</body>
</html>
